h4 {
  margin-bottom: 0;
  border-bottom: 2px solid #ff2072;
}

.item div {
  max-height: 2em;
  overflow: hidden;
  text-indent: 4px;
  text-transform: capitalize;
}

.item {
  border: 1px solid #8f8f8f;
  border-radius: 10%;
  margin-top: 10px;
  padding: 10px 10px 15px 10px;
}

.left-side {
  display: inline-block;
  line-height: 2;
  width: 40%;
}

.right-side {
  display: inline-block;
  line-height: 2;
  width: 55%;
}