.search-wrapper {    
    background: url('/assets/images/header/header.png') no-repeat;
    background-size: 160%;
    height: 102px;
    background-position: 50% 50%;
    color: white; 
    font-family: ROBOTO;
    position: relative;
    overflow: hidden;
}

#zikit-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
}

#zikit-search-input input{
    border: 0;
    box-shadow: none;
    font-size: 16px;
    font-weight: bold;
}

#zikit-search-input button{
    background: none;
    border: 0;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#zikit-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#zikit-search-input .glyphicon-search{
    font-size: 23px;
}